[submodule ".config/tmux/.tmux/plugins/tpm"]
	path = .config/tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/tmux/.tmux/plugins/tmux-sensible"]
	path = .config/tmux/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible
[submodule ".config/tmux/.tmux/plugins/tmux-yank"]
	path = .config/tmux/.tmux/plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule ".config/tmux/.tmux/plugins/vim-tmux-navigator"]
	path = .config/tmux/.tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule ".config/tmux/.tmux/plugins/tmux-themepack"]
	path = .config/tmux/.tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
