[user]
	name = Badal
	email = badalsingh120403@gmail.com
[core]
	editor = nvim
	autocrlf = input
	pager = delta
	preloadindex = true
	fscache = true
[credential]
	helper = cache
[init]
	defaultBranch = main
[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    
    side-by-side = true
[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[gc]
	auto = 256
